{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>TOGU</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'tools/img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'tools/css/style.css' %}" />
        <link href="{% static 'tools/css/gallery.css' %}" rel="stylesheet">
        <script src="{% static 'tools/js/jquery-1.11.1.js' %}" type="text/javascript"></script>
        <script src="{% static 'tools/js/opener.js' %}" type="text/javascript"></script>
        <script src="http://api-maps.yandex.ru/2.1/?load=Map,Placemark,geoObject.addon.balloon,geoObject.addon.hint,control.Manager,control.RouteEditor,control.ZoomControl,control.Button&lang=ru_RU" type="text/javascript"></script>
        <script src="{% static 'tools/js/map.js' %}" type="text/javascript"></script>
        <!--[if lt IE 9]> 
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="logo">
                    <a href="/"><img src="{% static 'tools/img/logon.png' %}" /></a>
            </div>
            <div class="head">
                    <img src="{% static 'tools/img/head.png' %}">
            </div>
            <div class="slogan">
                <p>Центр профессиональной заточки<br>Инструменты для маникюра и педикюра</p>
            </div>
            <div class="address">
                <a id="phone" href="tel:8121111111">(812)111-11-11</a>
                <br>
                <a id="mail" href="mailto:info@togu.pro">info@togu.pro</a>
                <div>
                <a href="#">Санкт-Петербург<br>пр.Елизарова, д.34</a>
                </div>
            </div>
        </header>
        <div class="bar">
            <nav class="navbar">
                <ul>
                    {% for menuitem in menuitems %}

                    <!--<li {% if request.path == menuitem.dest|add:"/" %} class="selected !important" {% endif %}><a href="{{ menuitem.dest }}"><span>{{ menuitem.name }}</span></a></li>-->
                    {% if request.path == menuitem.dest|add:"/" %}
                        <li class="selected"><span>{{ menuitem.name }}</span></li>
                    {% else %}
                        <a href="{{ menuitem.dest }}"><li><span>{{ menuitem.name }}</span></li></a>
                    {% endif %}

                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% block main %}
        {% endblock main %}
        <footer class="menu">
            <ul>
                {% for menuitem in menuitems %}
                <li><a href="{{ menuitem.dest }}"><span>{{ menuitem.name }}</span></a></li>
                {% endfor %}
            </ul>
        </footer>
    </body>
</html>
