{% extends "tools/base.html" %}
{% load staticfiles %}
{% block main %}
<section>
            <div class="block">
                <ul>
                    {% for toollistitem in toollistitems %}
                    <li class="box shadow">{{ toollistitem.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container">
                <!--[if lte IE 8]>
                <noscript>
                <style>
                #information li { overflow: visible; position: relative; margin: 0 auto; margin-bottom: 25px; background: #fff; width: 600px; padding: 30px; height: auto; list-style: none; }    
                #information li div a.close { position: relative; background: transparent; padding: 0; color: #0090e2; font-size: 12px; font-weight: normal; left: 0; top: 0; }    
                iframe, .backface { display: none; }
                </style>
                </noscript>
                <![endif]-->
                <ul id="grid">
                    {% for tool in tools %}
                    <li class="open_popup tool-{{ tool.id }}" rel="popup1">
                        <div class="details" >
                            <h3>{{ tool.name }}</h3>
                            <p>{{ tool.price }} руб</p>
                        </div>
                        <img src="/{{ tool.image }}">
                        <span style="display: none;">{{ tool.material }}</span>
                        <span style="display: none;">{{ tool.use }}</span>
                        <span style="display: none;">{{ tool.length }}</span>
                        <span style="display: none;">{{ tool.feature }}</span>
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
            <div class="overlay">
                <div class="backdrop"></div>
                <div class="popup" id="popup1">
                    <div class="close"><img src="{% static 'tools/img/close.png' %}"></img></div>
                    <div class="item_img">
                        <img src="">
                    </div>
                    <div class="block popup_form">
                        <p class="shadow"></p>
                            <table>
                                <tr>
                                    <td>Материал:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Назначение:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Длина режущей части:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Особенности:</td>
                                    <td></td>
                                </tr>
                            </table>
                        <p><a href="#">Добавить в корзину</a></p>
                    </div>
                </div>
            </div>
        </section>
{% endblock main %}
