#grid img{
    width: 210px;
    margin-top: -110px;
}

#grid { 
    margin: 0; 
    float: right;
    width: 70%;
    font: 16px/23px Times New Roman, Verdana, Helvetica, sans-serif;
}

#grid li { 
    list-style: none;
    margin-bottom: 3%;
    position: relative; 
    overflow: hidden; 
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    text-align: left;
    background-color: white;
    width: 230px;
    height: 230px;
    display: inline-block;
    vertical-align: top;
}

#grid li:hover { 
    z-index: 2;
    -webkit-transform: scale(1.2) translateY(-1px);	
    -moz-transform: scale(1.2) translateY(-1px);	
    -ms-transform: scale(1.2) translateY(-1px);	
    transform: scale(1.2) translateY(-1px);	
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

#grid img, li[id]:target div, #grid li, .backface {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#grid .details { 
    position: absolute; 
    bottom: 0; 
    background: #fff; 
    background: rgba(255, 255, 255, 0.87); 
    border-top: 1px solid #fff; 
    width: 230px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.25); 
    padding: 10px;
    -webkit-border-radius:  0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
    }

#grid .details h3 { 
    margin-bottom: 0px; 
    letter-spacing: -1px; 
}

#grid .details p { 
    position: absolute; 
    right: 30px; 
    top: 22px; 
    padding: 6px 10px; 
    margin: 0;
    background-color: rgba(0, 0, 0, 0.03);
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.6);
}

#grid .details a.more:hover { 
    background-color: #0090e2; 
    color: #fff; 
}

li[id]:target { width: 100%; height: 100%; opacity: 1; z-index: 10; position: fixed; overflow-x: hidden; /* overflow-y: scroll; */ margin-bottom: 25px; }
li[id]:target::-webkit-scrollbar { width: 8px; background-color: rgba(0,0,0,0.6); position: relative; left: }
li[id]:target::-webkit-scrollbar-thumb { -webkit-border-radius: 1ex; background-color: #6CF; }
li[id]:target div { position: relative; margin: 0 auto; top: 15%; background: #fff; width: 600px; padding: 30px;
	-webkit-box-shadow: 0 1px 8px #000;
	-moz-box-shadow: 0 1px 8px #000;
	box-shadow: 0 1px 8px #000;
	-webkit-animation: lightbox 0.75s cubic-bezier(0,0,0,1);
	-moz-animation: lightbox 0.5s cubic-bezier(0,0,0,1);
}

li[id] { overflow: hidden; position: absolute; width: 0; height: 0; left: 0; top: 0; opacity: 0; background: rgba(0,0,0,.8);
	-webkit-transition: opacity 0.2s cubic-bezier(0,0,0,1);
	-moz-transition: opacity 0.2s cubic-bezier(0,0,0,1);
	transition: opacity 0.2s cubic-bezier(0,0,0,1);
}

@-webkit-keyframes lightbox {
	0% { -webkit-transform: scale(5) rotateY(-270deg); }
	100% { -webkit-transform: scale(1) rotateY(0deg); }
}

@-moz-keyframes lightbox {
	0% { -moz-transform: scale(5) /* rotateY(-270deg) */; }
	100% { -moz-transform: scale(1) /* rotateY(0deg) */; }
}

.block{
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    width: 28%;
    float: left;
    /*height: 100%;*/
}  

    .block ul{
        list-style: none;
        padding: 0;
        font: 14px/30px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        margin: 30px 0;
    }
    
        .box {
            width: 90%;
            background: #FFF;
            margin: 15px auto;
            text-align: center;
        }
        
            .box:hover{
                background: url("../img/active.png") repeat-x 0% 0%;
                color: white;
                cursor: pointer;
            }
            
        .shadow{
            position: relative;
            position:relative;       
            -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1) inset;
        }
        
            .shadow:before, .shadow:after{
                content:"";
                position:absolute; 
                z-index:-1;
                -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
                -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
                box-shadow:0 0 10px rgba(0,0,0,0.5);
                top:0;
                bottom:0;
                left:10px;
                right:10px;
                -moz-border-radius:100px / 10px;
                border-radius:100px / 10px;
            } 
                .shadow:after{
                    right:10px; 
                    left:auto;
                    -webkit-transform:skew(8deg) rotate(3deg); 
                    -moz-transform:skew(8deg) rotate(3deg);     
                    -ms-transform:skew(8deg) rotate(3deg);     
                    -o-transform:skew(8deg) rotate(3deg); 
                    transform:skew(8deg) rotate(3deg);
                }
        
.filter{
    margin: 25px 0 0 0;
    font-size: 13px;
}
    .filter div{
        height: 300px;
    }
        .filter table{
            padding-left: 10px;
        }

.box-filter{
    width: 90%;
    background: #FFF;
    margin: 15px auto;
    text-align: center;
}

.form{
    border-radius: 5px;
    border-color: #ccc;
}

select:focus{outline: 1px solid grey;}
option{outline: 1px solid grey;}


.menu ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
        
        .menu li{
            float: left;
            margin: 15px 15px 15px 0;
        }
            
    .menu a{
        color: grey;
        text-decoration: underline;  
        font-size: 0.8em;
    }
    
        .menu a:hover{
            color:  black;
        }
        
        
        
        
        
.overlay {
    display:none; 
    position:fixed; 
    z-index:999; 
}

.backdrop{
    opacity:0.5; 
    filter:alpha(opacity=50); 
    top:0; 
    right:0; 
    left:0; 
    bottom:0; 
    background:#000; 
    position:fixed; 
}

.popup {
    display:none; 
    position:fixed; 
    border:3px solid #999; 
    background:#fff; 
    width:668px; 
    height:570px; 
    z-index:1000; 
    border-radius:10px; 
    padding:10px 30px 30px;
    box-sizing: border-box;
    top: 50%; 
    left: 50%;
    margin-left: -334px; 
    margin-top: -260px;
}

.close {
    display:block; 
    cursor:pointer;  
    position:absolute; 
    top:-15px; 
    right:-15px; 
}

.item_img{
    text-align: center;
}

.popup_form{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 600px;
    background: rgba(221, 221, 221, 0.15);
    padding: 15px;
}

.popup_form p:first-child{
    width: 90%;
    background: #FFF;
    margin: 15px auto;
    text-align: center;
    font: 14px/30px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: black;
    height: 30px;
    padding: 0;
}

.popup_form p{
    background: url("../img/nav.png") repeat-x 0% 0%;
    height: 36px;
    width: 200px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-width: 0 2px 0 1px; 
    border-style: solid;
    border-color: transparent;
    text-align: center;
    border-radius: 5px;
    margin: 15px auto auto;
    padding: 7px 0 0;
    font-size: 13px;
}

.popup_form a{
    color: white;
} 

.popup_form table{
    width: 100%;
}

    .popup_form td{
        border-bottom: 1px dashed #ccc;
        color: #6D6D6D;
        font-size: 14px;
        line-height: 30px; 
    }
    
    .popup_form td:nth-child(2){
        text-align: right;
    }